/target/classes/application.properties
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.name
.idea/
*.iml
/libraries/
/.idea/
/target/
/target/classes/